[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]

pytest = "*"
sphinxcontrib-httpdomain = "*"
sphinx = "==1.5.6"


[packages]

flask = "*"
pyquery = "*"
requests = "*"
python-slugify = "*"
flask-sqlalchemy = "*"
dominate = "*"
