[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]

pytest = "==3.3.1"
sphinxcontrib-httpdomain = "*"
sphinx = "==1.5.6"
pytest-bdd = "*"


[packages]

flask = "*"
pyquery = "*"
requests = "*"
python-slugify = "*"
flask-sqlalchemy = "*"
