<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<title>Mincer - {% block page_title %}Default page title{% endblock %}</title>
	</head>
	<body>
		<div class="container">
		  <header>
	  		<img
					src={{ url_for('static', filename="mincer_logo_200px.png") }}
					alt="Mincer logo"
				>
				<h1 class="display-4 d-inline">
					{% block title %}Default title{% endblock %}
					<small class="text-muted">{% block subtitle %}Default subtitle{% endblock %}</small>
				</h1>
			</header>
			{% block content %}
			Default content
			{% endblock %}
		</div> <!-- /container -->
	</body>
</html>
