<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link
			rel="stylesheet"
			href="{{ dependencies['bootstrap-css'].url }}"
			integrity="{{ dependencies['bootstrap-css'].sha }}"
			crossorigin="anonymous">
		<title>{{ title|capitalize }} {{ subtitle|capitalize }}</title>
		{% endblock %}
	</head>
	<body>
		<main role="main" class="container">
		  <header>
		  	<a href="{{ url_for('home') }}">
		  		<img
						src={{ url_for('static', filename="mincer_logo_200px.png") }}
						alt="Mincer logo"
					>
		  	</a>
				<h1 class="display-4 d-inline">
					{{ title|capitalize }}
					<small class="text-muted">{{ subtitle|capitalize }}</small>
				</h1>
			</header>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert {{ category }}" role="alert">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block content %}
			Default content
			{% endblock %}
		</main><!-- /.container -->

		<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<script
			src="{{ dependencies['jquery-js'].url }}"
			integrity="{{ dependencies['jquery-js'].sha }}"
			crossorigin="anonymous"></script>
		<script
			src="{{ dependencies['popper-js'].url }}"
			integrity="{{ dependencies['popper-js'].sha }}"
			crossorigin="anonymous"></script>
		<script
			src="{{ dependencies['bootstrap-js'].url }}"
			integrity="{{ dependencies['bootstrap-js'].sha }}"
			crossorigin="anonymous"></script>
	</body>
</html>
