{% extends "default_page.html" %}

{% block content %}

<section>
	<h1>Available providers <small>({{ providers|length }})</small></h1>

	{% for prov in providers %}
	<a
		class="btn btn-primary btn-lg btn-block"
		role="button"
		href="{{ url_for('provider_status', provider_slug=prov.slug) }}">
		{{ prov.name|capitalize }}
	</a>
	{% endfor %}
</section>

<section>
	<h1>Admin pages</h1>
	<div class="container">
		<div class="row">
			<a
			class="btn btn-outline-primary btn-lg col-sm"
			role="button"
			href="{{ url_for('status') }}">
			Global status
			</a>
			<a
			class="btn btn-outline-primary btn-lg col-sm"
			role="button"
			href="{{ url_for('admin') }}">
			Dependancy Admin
			</a>
			{# Just add new admin pages here #}
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>

{% endblock %}
