{% extends "default_page.html" %}

{% import "forms.html" as form %}

{% block content %}
<section>
	<form>
		{{ form.input_provider_param(
			name="name",
			value=provider.name,
			help="This is the name you have given to this provider.",
			readonly=true) }}

		{{ form.input_provider_param(
			name="slug",
			value=provider.slug,
			help="Name of the provider as it can be used in the url of mincer.",
			readonly=true) }}

		{# TODO: use a type URL here #}
		{{ form.input_provider_param(
			name="remote address",
			value=provider.remote_url,
			help="Web address of the provider as if you were doing directly your search on his web site. You must replace the search terms by <code>{param}</code> in this url."|safe,
			readonly=true) }}

		{{ form.input_provider_param(
			name="result selector",
			value=provider.result_selector,
			help='Selector in the <a href="https://www.sitepoint.com/comprehensive-jquery-selectors/">JQuery selector syntax</a> to retrieve the result list in the result page of the provider.'|safe,
			readonly=true) }}

		{{ form.input_provider_param(
			name="no result selector",
			value=provider.no_result_selector,
			help='Selector in the <a href="https://www.sitepoint.com/comprehensive-jquery-selectors/">JQuery selector syntax</a> to retrieve the no result message in the result page of the provider if no result were found.'|safe,
			readonly=true) }}

		{{ form.input_provider_param(
			name="no result content",
			value=provider.no_result_content,
			help='Text of the no result message we expect to find in the result page of the provider if no result were found.',
			readonly=true) }}
	</form>
</section>

<section>
	<h1>Admin pages</h1>
	<div class="container">
		<div class="row">
			<a
			class="btn btn-outline-primary btn-lg col-sm"
			role="button"
			href="{{ url_for('example') }}">
				Global status
			</a>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>
{% endblock %}
